<div class="order-card" data-order-id="{{this._id}}">
    <div class="order-details">
        <div class="order-header">
            <span class="order-time">{{formatDateTime this.createdAt}}</span>
            <h4 id="customerName">{{this.idAddress.fullName}}</h4>
            <p id="customerPhone">Số điện thoại: {{this.idAddress.phone}}</p>
            <p id="customerAddress">Địa chỉ: {{this.idAddress.address}}, {{this.idAddress.wards}},
                {{this.idAddress.district}}, {{this.idAddress.city}}</p>
        </div>
    </div>

    <div class="order-body">
        <div class="order-money">
            <div class="d-flex">
                <span class="tag yellow" id="paymentMethod">{{this.payment}}</span>
                <span class="tag red" id="promotionTag-{{this._id}}" style="display: none;">Khuyến mãi</span>
            </div>
            <span class="total-amount float-left" id="totalAmount">{{this.moneyTotal}}.000 VND</span>
        </div>
        <div>
            <ul class="order-items" id="productList">
                {{#each this.details}}
                <li>
                    <img src="" alt="{{this.name}}" class="product-img">
                    {{this.amount}}x {{this.name}}
                </li>
                {{/each}}
            </ul>
        </div>

    </div>
    <div class="order-actions float-right">
        <button class="btn-complete" onclick="showDetails()">Xem chi tiết</button>
    </div>
</div>